@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url("../fonts/Montserrat.css");


html, body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background: #F4F1F1;
}

.page {
    display: flex;
    flex-direction: column !important;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

a:hover {
    opacity: 0.8;
}

a {
    justify-content: center;
    display: flex;
    text-decoration: none;

    /*text-transform: uppercase;*/
    color: #5C6A79;
}

a.active {
    font-weight: bolder;
    color: #000;
}

h1 {
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: -0.0068em;
    color: #0B0B0C;
    margin-bottom: 40px;
}

label {
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.0112em;
    text-transform: uppercase;
    color: #636363;
}

input, textarea, option, select {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 7px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.0033em;
    padding: 22px 12px;
    outline: none;
}

input:focus, textarea:focus {
    transform: scale(1.02);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 0 auto;
}

button {
    font-weight: 500;
    background: #3DDC84;
    border-radius: 10px;
    padding: 18px 36px;
    color: #fff;
    border: none;
    outline: none;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    width: fit-content;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    margin-top: 50px;

}

.main-link {
    font-weight: 500;
    background: #3DDC84;
    border-radius: 10px;
    padding: 18px 32px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    width: fit-content;
}
.button__full-width {
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.auth__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
    margin: 0;
}

table, tbody, td {
    padding: 15px 0;
}

thead {
    border-bottom: 1px solid #C4C4C4;
}

.auth__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ff6838;
    text-decoration: none;
    margin-left: 6px;
    transition: opacity 0.3s ease-in-out;
}

.auth__link:hover {
    opacity: 0.8;
}

.auth__redirect {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.section {
    margin-top: 40px;
    padding: 0 20px;
}
@media screen and (max-width: 450px) {
    .auth {
        margin-top: 267px;
    }

    .auth__link {
        font-size: 12px;
        line-height: 15px;
        margin-left: 7px;
    }

    .auth__paragraph {
        font-size: 12px;
        line-height: 15px;
    }
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form__inputs {
    display: flex;
}

@media screen and (max-width: 580px) {
    .form__inputs {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .section {
        padding: 0 40px;
    }
}

.form__group_half {
    width: 50%;
}

.form__group_half:first-of-type {
    margin-right: 10px;
}

@media screen and (max-width: 580px) {
    .form__group_half {
        width: 100%;
    }

    .form__group_half:first-of-type {
        margin-right: 0;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1360px !important;
    }
}