@import '';

/* _content/eventTicketPesentation/Pages/Login/Login.razor.rz.scp.css */
@media screen and (max-width: 700px) {
    .login[b-aa18ht7ny5] {
        padding: 20px 40px;
    }
}
/* _content/eventTicketPesentation/Pages/SignUp/SignUp.razor.rz.scp.css */
.form__group_half[b-hfufdi1uvb] {
    width: 50%;
}
.form__button-register[b-hfufdi1uvb] {
    width: 100%;
}
.form__group_half:first-of-type[b-hfufdi1uvb] {
    margin-right: 10px;
}

@media screen and (max-width: 580px) {
    .form__group_half[b-hfufdi1uvb] {
        width: 100%;
    }

    .form__group_half:first-of-type[b-hfufdi1uvb] {
        margin-right: 0;
    }
}
/* _content/eventTicketPesentation/Shared/Components/Footer/Footer.razor.rz.scp.css */
.footer[b-jea49ovhlj] {
    padding: 100px 40px 20px;
    text-align: center;
}

.footer__title[b-jea49ovhlj] {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #a0a0a0;
    margin: 0 0 20px;
}


.footer__container[b-jea49ovhlj] {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
}

.footer__copyright[b-jea49ovhlj] {
    display: flex;
    align-self: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    margin: 0;
}


@media screen and (max-width: 800px) {
    .footer[b-jea49ovhlj] {
        padding: 80px 30px 20px;
    }
}

@media screen and (max-width: 657px) {
    .footer__container[b-jea49ovhlj] {
        flex-direction: column-reverse;
    }


    .footer__copyright[b-jea49ovhlj] {
        margin-top: 18px;
    }
}

@media screen and (max-width: 450px) {
    .footer[b-jea49ovhlj] {
        padding: 80px 10px 10px;
    }
}
/* _content/eventTicketPesentation/Shared/Components/NavMenu/NavMenu.razor.rz.scp.css */
.header__nav[b-7wfjmtucjy] {
    padding: 20px 40px;
}


.collapse[b-7wfjmtucjy] {
    justify-content: space-between !important;
}

.header__nav-link[b-7wfjmtucjy] {
    font-weight: 700;
    text-transform: uppercase;
    color: #5C6A79;
}

.menu-button[b-7wfjmtucjy] {
    outline: none;
}


.header__link[b-7wfjmtucjy] {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #5C6A79;
}

.header__nav-links[b-7wfjmtucjy] {
    display: flex;
    align-items: center;
}


.header__link:hover[b-7wfjmtucjy] {
    opacity: .7;
}


.header__link_active[b-7wfjmtucjy] {
    font-weight: bolder;
    color: #000;
}

.manage-profile[b-7wfjmtucjy] {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__main-link[b-7wfjmtucjy] {
    font-weight: 500;
    background: #3DDC84;
    border-radius: 10px;
    padding: 18px 32px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    width: fit-content;
}

.logout-button[b-7wfjmtucjy] {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
}

@media screen and (max-width: 885px) {
    .header__main-link[b-7wfjmtucjy]  {
        padding: 10px 28px;
        font-size: 12px;
    }
    
    .header__nav[b-7wfjmtucjy] {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 573px) {
    .header__main-link[b-7wfjmtucjy]  {
        justify-content: center;
        display: flex;

    }
}

.menu-icon[b-7wfjmtucjy] {
    width: 40px;
    height: 40px;
}

.menu-button[b-7wfjmtucjy] {
    margin: 0 !important;
}

.header__auth[b-7wfjmtucjy] {
    display: flex;
    justify-content: center;
}
/* _content/eventTicketPesentation/Shared/MainLayout.razor.rz.scp.css */
.page[b-50ybbxbtuw] {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #F4F1F1;
}

.main[b-50ybbxbtuw] {
    flex: 1;
}

.sidebar[b-50ybbxbtuw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-50ybbxbtuw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    /*.top-row ::deep a, .top-row .btn-link {*/
    /*    white-space: nowrap;*/
    /*    margin-left: 1.5rem;*/
    /*}*/

    .top-row a:first-child[b-50ybbxbtuw] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-50ybbxbtuw] {
        display: none;
    }

    .top-row.auth[b-50ybbxbtuw] {
        justify-content: space-between;
    }

    .top-row a[b-50ybbxbtuw], .top-row .btn-link[b-50ybbxbtuw] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-50ybbxbtuw] {
        flex-direction: row;
    }

    .sidebar[b-50ybbxbtuw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-50ybbxbtuw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-50ybbxbtuw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
