@page "/sign-up"
@using eventTicketPesentation.Shared.Components.NavMenu
@using eventTicketPesentation.Models
@using eventTicketPesentation.Network
@inject IUserService _userService
@inject NavigationManager _navigationManager

<NavMenu ShowLogin="true"></NavMenu>
<section class="section">
    <EditForm Model="@newUser" OnValidSubmit="@Submit">
        <h1>Sign Up</h1>
        <div class="form__group">
            <label >Email address</label>
            <InputText type="email" placeholder="email" @bind-Value="newUser.email"/>
        </div>
        @* <div class="form__inputs"> *@
            <div class="form__group">
                <label >Full Name</label>
                <InputText type="text" placeholder="full name" @bind-Value="newUser.fullName"/>
            </div>

            @* <div class="form__group form__group_half"> *@
            @*     <label >Last Name</label> *@
            @*     <InputText type="text" placeholder="last name" @bind-Value="newUser.LastName"/> *@
            @* </div> *@
        @* </div> *@
        @* <div class="form__inputs"> *@
        @*     <div class="form__group form__group_half"> *@
        @*         <label >Address</label> *@
        @*         <InputText type="text" placeholder="Address" @bind-Value="newUser.Email"/> *@
        @*     </div> *@
        @* *@
        @*     <div class="form__group form__group_half"> *@
        @*         <label >Zip Code</label> *@
        @*         <input type="number" placeholder="zip code" @bind-value="newUser.Id"/> *@
        @*     </div> *@
        @* </div> *@
        @* <div class="form__inputs"> *@
        @*     <div class="form__group form__group_half"> *@
        @*         <label >Country</label> *@
        @*         <InputText type="text" placeholder="country" @bind-Value="newUser.Email"/> *@
        @*     </div> *@
        @* *@
        @*     <div class="form__group form__group_half"> *@
        @*         <label >Town</label> *@
        @*         <InputText type="text" placeholder="town" @bind-Value="newUser.Email"/> *@
        @*     </div> *@
        @* </div> *@
        <div class="form__group">
            <label >Password</label>
            <InputText type="password" placeholder="password" @bind-Value="newUser.password"/>
        </div>
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <button class="form__button-register">Sign Up</button>
        <div class="auth__redirect">
            <p class="auth__paragraph">Already have an account?</p>
            <a href="/login" class="auth__link">
                Login
            </a>
        </div>
    </EditForm>
</section>

@code {
    private User newUser = new User();

    public void Submit()
    {
        _userService.RegisterUser(newUser);
        _navigationManager.NavigateTo("/events");
    }

}