@page "/thank-you"
@using eventTicketPesentation.Shared.Components.NavMenu

<section class="section">
    <div class="container">
        <img class="img-fluid d-flex mx-auto" src="images/thank-you-img.svg" alt="Thank You Illustration" />
        <h1 class="text-center mt-5">Thank You for your purchase!</h1>
         <a style="color:#0075ff;" class="d-flex mx-auto" href="/tickets">Access your tickets</a>
    </div>
</section>

@code {
    
}