@using eventTicketPesentation.Models
<div class="col-md-12 my-2">
<div class="notification">
    <div class="notification__data">
        <img src="images/error_outline.svg" class="notification__icon" alt="Error icon"/>
        <div>
            <h3 class="notification__title">@Notification.Title</h3>
            <p class="notification__message">
                @Notification.Message
            </p>
            <span>@Notification.Timestamp</span>
        </div>
    </div>
</div>
</div>
@code {
    [Parameter]
    public Notification Notification { get; set; }
    
}