<div class="col-md-12 my-2">
<div class="notification">
    <div class="notification__data">
        <img src="images/error_outline.svg" class="notification__icon" alt="Error icon"/>
        <div>
            <h3 class="notification__title">Event Cancelation</h3>
            <p class="notification__message">
                Do ullamco ex velit anim do proident exercitation et anim tempor.
                Lorem sunt deserunt labore non excepteur veniam enim quis officia magna ani...
            </p>
        </div>
    </div>
</div>
</div>
@code {

}