@page "/events/{eventId:long}/editEvent"
@attribute [Authorize(Policy = "isAdmin")]
@using eventTicketPesentation.Models
@using eventTicketPesentation.Service
@using eventTicketPesentation.Shared.Components.NavMenu
@inject IEventService _eventService
@inject ICategoryService _categoryService
@inject NavigationManager _navigationManager
<NavMenu/>
<section class="section">
    <EditForm Model="@_event">
        <h1>Edit Event</h1>
        <div class="form__group">
            <label >Name</label>
            <InputText type="text" placeholder="name" @bind-Value="_event.Name"/>
        </div>
        <div class="form__group">
            <label >Description</label>
            <InputTextArea type="text" placeholder="description" @bind-Value="_event.Description"></InputTextArea>
        </div>
        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Location</label>
                <InputSelect class="input" id="location" @bind-Value="_event.Location">
                    <option value="">Select location</option>
                    <option value="Copenhagen">Copenhagen</option>
                    <option value="Horsens">Horsens</option>
                    <option value="Aarhus">Aarhus</option>
                    <option value="Odense">Odense</option>
                    <option value="Aalborg">Aalborg</option>
                    <option value="Kolding">Kolding</option>
                    <option value="Esbjerg">Esbjerg</option>
                </InputSelect>
            </div>
            <div class="form__group form__group_half">
                <label >Category</label>
                <InputSelect class="input" id="category" @bind-Value="_event.Category">
                    <option value="">
                        Select category
                    </option>
                    @if (_categories != null)
                    {
                        @foreach (var category in _categories)
                        {
                            <option value="@category.Name">
                                @category.Name
                            </option>
                        }
                    }

                </InputSelect>
            </div>
        </div>
        <div class="form__group">
            <label >Add New Category</label>
            <InputText type="text" placeholder="new category" @bind-Value="_newCategory.Name"></InputText>
        </div>

        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Date</label>
                <InputDate @bind-Value="_date"/>
            </div>

            <div class="form__group form__group_half">
                <label >Time</label>
                <input type="time" @bind="_time"/>
            </div>
        </div>
        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Thumbnail</label>
                <InputText type="url" placeholder="url" @bind-Value="_event.Thumbnail"/>
            </div>

            <div class="form__group form__group_half">
                <label >Nr. of tickets</label>
                <InputNumber type="number" placeholder="number of tickets" @bind-Value="_event.AvailableTickets"/>
            </div>
        </div>

        <div class="form__group">
            <label >Price of a ticket</label>
            <InputNumber type="number" placeholder="price" @bind-Value="_event.TicketPrice"></InputNumber>
        </div>

        <DataAnnotationsValidator/>
        <ValidationSummary/>
        @if (_errorMessage != null)
        {
            <div class="error">@_errorMessage</div>
        }
        <div class="d-flex justify-content-between">
           <button class="button button-gray" @onclick="Cancel">Cancel</button>
        <button class="button button-green" @onclick="Save">Save</button>
      </div>
    </EditForm>
</section>

@code {

    private string _errorMessage;


    [Parameter]
    public long EventId { get; set; }

    private Event _event = new Event();
    private DateTime _date;
    private DateTime _time;
    private List<Category> _categories;
    private Category _newCategory = new Category();

    protected override async Task OnInitializedAsync()
    {
        _event = await _eventService.GetEventByIdAsync(EventId);
        _date = _event.TimeOfTheEvent.Date;
        _time = _event.TimeOfTheEvent;
        _categories = await _categoryService.GetAllCategoriesAsync();
    }

    private async Task Save()
    {
        _event.TimeOfTheEvent = new DateTime(
            _date.Year, _date.Month, _date.Day,
            _time.Hour, _time.Minute, 0);

        try
        {
            Console.WriteLine(_newCategory.Name);
            if (_event.Category == null || _event.Category.Equals(""))
            {
                if (!_newCategory.Name.Equals(""))
                {
                    await _categoryService.CreateCategoryAsync(_newCategory);
                    _event.Category = _newCategory.Name;
                }
            }

            await _eventService.UpdateEventAsync(_event);
            _navigationManager.NavigateTo($"/events/{EventId}");
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            StateHasChanged();
        }
    }

    private void  Cancel()
    {
        _navigationManager.NavigateTo($"/events/{EventId}");
    }




}