  @* Source : https://sinclairinat0r.com/2019/12/08/creating-a-simple-wizard-component-in-blazor *@
@if (Parent.ActiveStep == this)
{
    <div id="step-@(Parent.StepsIndex(this) + 1)" class="step">
        @ChildContent
    </div>
}