.ticket__item {
    background-color: #fff;
    margin-bottom: 20px;
}

.ticket__details {
    padding: 20px;
}

.ticket__number {
    font-size: 22px;
    line-height: 27px;
    color: #3DDC84;
    padding: 0 0 20px;
    margin: 0 30px 30px;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
    text-transform: uppercase;
}


