<header class="header">
    <nav class="header__nav navbar navbar-expand-md navbar-expand-sm">
        <a class="header__link" href="/">
            <img class="navbar-brand" src="images/logo.svg" alt="Logo">
        </a>
        <button class="navbar-toggler menu-button" type="button" data-toggle="collapse" data-target="#myNavbar">
            <img class="navbar-toggler-icon menu-icon " alt="Menu icon" src="images/menu-icon.svg"/>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="header__nav-links navbar-nav">
                <NavLink href="/events" class="nav-link">Events</NavLink>
                <NavLink href="/addEvent" class="nav-link">Add Event</NavLink>
            </ul>

            <div class="header__auth">
                @if (ShowLogin)
                {
                    <a class="header__main-link" href="/login">Login</a>
                }

                @if (ShowRegister)
                {
                    <a style="margin-left: 10px" class="header__main-link" href="/sign-up">Sign Up</a>
                }
                @if (ShowAccount)
                {
                    <a style="margin-left: 10px" class="header__main-link" href="/account">Account</a>
                }
            </div>

        </div>

    </nav>
</header>

@code {

    [Parameter]
    public bool ShowLogin { get; set; }

    [Parameter]
    public bool ShowRegister { get; set; }

    [Parameter]
    public bool ShowAccount { get; set; }

}