.card {
    background: #ffffff;
    border-radius: 16px;
}

.card__data {
    padding: 16px 22px 40px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__link {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

.card__category {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #6e798c;
}

.card__date {
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    color: #6e798c;
}

.card__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #081f32;
    margin: 0;
}

.card__image-container {
    position: relative;
    z-index: 1;
}

.card__image {
    width: 308px;
    height: 168px;
    object-position: center;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.card__cancel-button {
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 3;
}

.card__cancelled-mark {
    position: absolute;
    top: 34px;
    left: 95px;
}

.card__soldOut-mark {
    display: flex;
    align-items: center;
    color: white;
    font-size: 10px;
    line-height: 15px;
    padding: 2px 6px;
    margin-left: 10px;
    text-transform: uppercase;
    background-color: #FF0032;
    border-radius: 2px;
}

