@page "/tickets"
@using eventTicketPesentation.Shared.Components.PageSwitcher
@using eventTicketPesentation.Shared.Components.NavMenu
@using eventTicketPesentation.Shared.Components.Preloader
@using eventTicketPesentation.Shared.Components.TicketCard
@using eventTicketPesentation.Models
@using eventTicketPesentation.Service
@using eventTicketPesentation.Service.dto
@inject ITicketService _service
@inject AuthenticationStateProvider _authenticationStateProvider
<NavMenu></NavMenu>
<section class=" section">
    <div class="container">
        <div class="row">
            <PageSwitcher></PageSwitcher>

            @if (_tickets == null)
            {
                <Preloader/>
            }
            else
            {
                <div class="col-xs-12 col-sm-7 col-md-9 col-lg-8">
                    <div class="row">
                        @foreach (var ticketItem in _tickets)
                        {
                            <TicketCard TicketGroup="@ticketItem" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@code {
    private List<TicketGroupDTO> _tickets;
    private User _user = new User();

    protected override async Task OnInitializedAsync()
    {
        // base.OnInitialized();
      
        var authState = _authenticationStateProvider.GetAuthenticationStateAsync().Result;
        foreach (var claim in authState.User.Claims)
        {
            if (claim.Type.Equals("id"))
            {
                _user.Id = Convert.ToInt64(claim.Value);
                break;
            }
        }
    
        _tickets = await _service.GetTicketsForUserAsync(_user.Id);
    }

}