@page "/tickets"
@using eventTicketPesentation.Shared.Components.PageSwitcher
@using eventTicketPesentation.Shared.Components.NavMenu
@using eventTicketPesentation.Shared.Components.TicketCard
<NavMenu></NavMenu>
<section class=" section">
    <div class="container">
        <div class="row">
            <PageSwitcher></PageSwitcher>
            <div class="col-xs-12 col-sm-7 col-md-9 col-lg-8">
                <div class="row">
                <TicketCard/>
                <TicketCard/>
                <TicketCard/>
                <TicketCard/>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    
}