@using eventTicketPesentation.Shared.Components.Footer
@inherits LayoutComponentBase
@using eventTicketPesentation.Shared.Components.NavMenu
<div class="page">
  
      


    <div class="main">
        @* <NavMenu /> *@

      
        @Body
          
      
    </div>
      <Footer></Footer>
</div>