@using eventTicketPesentation.Shared.Components.Footer
@inherits LayoutComponentBase
@using eventTicketPesentation.Shared.Components.NavMenu
<div class="page">
  
      


    <div class="main">
        @* <NavMenu /> *@

      
            @Body
            <Footer></Footer>
      
    </div>
</div>