@using eventTicketPesentation.Service
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
<div class=" col-sm-5 col-md-3 col-lg-4">

    <div class="area__title-container">
        <h2 class="area__title">Personal Area</h2>
    </div>
    <div class="area__link-container">
        <NavLink href="/account" class="area__link nav-link">
            <img src="images/profile-icon.svg" alt="Profile icon" class="area__link-icon"/>
            Profile
        </NavLink>
    </div>
    <div class="area__link-container">
        <NavLink href="/tickets" class="area__link nav-link">
            <img src="images/tickets-icon.svg" alt="Tickets icon" class="area__link-icon"/>
            My Tickets
        </NavLink>
    </div>

    <div class="area__link-container">
        @* <NavLink href="/logout" class="area__link nav-link"> *@
        <button @onclick="Logout" class="area__button">
            <img src="images/logout-icon.svg" alt="Logout icon" class="area__link-icon"/>
            Logout
        </button>
        @* </NavLink> *@
    </div>

</div>

@code {

    public void Logout()
    {
        ((CustomAuthenticationStateProvider) _authenticationStateProvider).Logout();
        _navigationManager.NavigateTo("/");
    }

}