@page "/"
@using eventTicketPesentation.Shared.Components.NavMenu
<NavMenu ShowLogin="true" ShowRegister="true" ShowAccount="true"></NavMenu>
<div class="container">
<h1 class="slogan">Memorable events don't just happen. <br/> They just happen to be our business.</h1>
<div class="logo__wrapper">
    <img src="images/logo-big.svg" class="img-fluid logo-image" alt="Logo"/>
</div>
</div>
<div class="lead-image__wrapper">
    <img src="images/crowd-banner.png" class="img-fluid" alt="Lead Image"/>
</div>