@page "/addEvent"
@attribute [Authorize(Policy = "isAdmin")]
@using eventTicketPesentation.Shared.Components.NavMenu
@using eventTicketPesentation.Models
@using eventTicketPesentation.Service

@inject NavigationManager _navigationManager
@inject IEventService _service;
@inject AuthenticationStateProvider _auth;

<NavMenu/>
<section class="section">
    <EditForm Model="@newEvent" OnValidSubmit="@Submit">
        <h1>Add Event</h1>
        <div class="form__group">
            <label >Name</label>
            <InputText type="text" placeholder="name" @bind-Value="newEvent.Name"/>
        </div>
        <div class="form__group">
            <label >Description</label>
            <InputTextArea type="text" placeholder="description" @bind-Value="newEvent.Description"></InputTextArea>
        </div>
        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Location</label>
                <InputText type="text" placeholder="location" @bind-Value="newEvent.Location"/>
            </div>
            <div class="form__group form__group_half">
                <label >Category</label>
                <InputSelect class="input" id="category" @bind-Value="newEvent.Category">
                    <option value="">
                        Select category
                    </option>
                    <option value="Concert">
                        Concert
                    </option>
                    <option value="Workshop">
                        Workshop
                    </option>
                    <option value="Art Exhibition">
                        Art Exhibition
                    </option>
                    <option value="Public Speaking">
                        Public Speaking
                    </option>

                </InputSelect>
            </div>
        </div>

        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Date</label>
                <InputDate @bind-Value="_date"/>
            </div>

            <div class="form__group form__group_half">
                <label >Time</label>
                <input type="time" @bind="_time"/>
            </div>
        </div>

        <div class="form__inputs">
            <div class="form__group form__group_half">
                <label >Thumbnail</label>
                <InputText type="url" placeholder="url" @bind-Value="newEvent.Thumbnail"/>
            </div>

            <div class="form__group form__group_half">
                <label >Nr. of tickets</label>
                <InputNumber type="number" placeholder="number of tickets" @bind-Value="newEvent.AvailableTickets"/>
            </div>
        </div>

        <div class="form__group">
            <label >Price of a ticket</label>
            <InputNumber type="number" placeholder="price" @bind-Value="newEvent.TicketPrice"></InputNumber>
        </div>

        <DataAnnotationsValidator/>
        <ValidationSummary/>
        @if (_errorMessage != null)
        {
            <div class="error">@_errorMessage</div>
        }
        <button class="form__button-create">Create</button>
    </EditForm>
</section>

@code {
    private Event newEvent = new Event() {
        DateTime = DateTime.Now,
    };
    private DateTime _date = DateTime.Today;
    private DateTime _time = DateTime.Now;
    
    private string _errorMessage;

    public async void Submit()
    {
        newEvent.OrganizerId = ((CustomAuthenticationStateProvider) _auth).LoggedInUser.Id;
        
        newEvent.DateTime = new DateTime(
            _date.Year, _date.Month, _date.Day,
            _time.Hour, _time.Minute, 0);

        try
        {
            await _service.AddEventAsync(newEvent);

            _navigationManager.NavigateTo("/events");
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            StateHasChanged();
        }
    }

}